.edital {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
    padding: 26px;
}


.conteudo-edital {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
}

#logo-edital {
    max-width: 300px;
}

.text-edital p {
    word-break: normal;
}

#btn-edital {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    background-color: var(--p-color);
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 12px;
    padding: 12px 16px;
}

#btn-edital:hover {
    color: aqua;
    transform: scale(1.15);
}